body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b6623;
  color: white;
  text-align: center;
}

#app {
  padding: 20px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
